<div class="back">
  <button mat-raised-button (click)="onBack()">Retour post</button>
</div>
<div class="post-card">
  <div *ngIf="post$ | async as Post" class="post-list">
      <img [src]="Post.imageUrl">
      <p class="text">{{ Post.text }}</p>
      <div class="like-buttons" *ngIf="!likePending">
          <div class="likes">
            <li [ngClass]="{ 'fas liked': likes, 'far': !likes}" class="fa-solid fa-thumbs-up button-likes"(click)="onLikes()"></li>
            <span>{{ Post.likes }}</span>
          </div>
      </div>
      <div class="control-buttons">
          <button (click)="onModify()" *ngIf="userId === Post.userId">Modifier</button>
          <button (click)="onDelete()" *ngIf="userId === Post.userId">Supprimer</button>
      </div>
  </div>
</div>