<div class="back">
  <button mat-raised-button (click)="onBack()">Retour post</button>
</div>
<div class="post-card">
  <div *ngIf="post$ | async as Post" class="post-list">
      <img *ngIf="Post.imageUrl" [src]="Post.imageUrl" alt="image du post">
      <p class="text">{{ Post.text }}</p>
      <div class="like-buttons" *ngIf="!likePending">
          <div class="likes">
            <li [ngClass]="{ 'fas liked': likes, 'far': !likes}" class="fa-solid fa-thumbs-up button-likes"(click)="onLikes()">{{ Post.likes }}</li> 
          </div>
      </div>
      <div class="control-buttons">
          <button (click)="onModify()" *ngIf="userId === Post.userId || admin">Modifier</button>
          <button (click)="onDelete()" *ngIf="userId === Post.userId || admin">Supprimer</button>
      </div>
  </div>
</div>