.login{
    display: flex;
    justify-content: center;
    margin-top: 150px;

    & .form-group{
        display: flex;
        align-items: baseline;
        margin: auto;
        height: 30px;
        margin-bottom: 15px;
    }

    & form {
        display: flex;
        flex-direction: column;
    }

    & button{
        font-size: 16px;
        font-weight: bold;
        width: 32%;
        margin-left: 248px;
        border-color: #4E5166;
        color: #FD2D01;
        background-color: white;
    }

    & input{
        margin-bottom: 15px;
        height: 28px;
        width: 220px;
        border-color: #4E5166;
    }

    & label{
        margin-right: 15px;
        color: #FD2D01;
        font-size: 22px;
        font-weight: bold;
    }

    & .text-danger{
        display: none;
    }
}

// PARTIE MOBILE

@media(max-width: 400px){
    .login{
        label{
            font-size: 20px;
        }

        input{
            width: 172px;
        }

        button{
            font-size: 15px;
            width: 30%;
            margin-left: 215px;
        }
    }
}