<header>
    <div id="logo">
        <img src="../../assets/images/logo.png" alt="Logo Groupomania orange">
    </div>

    <div class="right-nav">
        <ul>
            <li>
                <a (click)="onLogout()" routerLinkActive="active" *ngIf="isAuth$ | async">
                    Se déconnecter
                </a>
            </li>
            <li>
                <a routerLink="signup" routerLinkActive="active">
                    Créer un compte
                </a>
            </li>
            <li>
                <a routerLink="login" routerLinkActive="active">
                    Se connecter
                </a>
            </li>
            <li>
                <a routerLink="create-post" routerLinkActive="active" *ngIf="isAuth$ | async">
                    Créer un post
                </a>
            </li>
        </ul>
    </div>
</header>