<nav>
    <div id="logo">
        <img alt="Flame logo" src="../../assets/images/logo.png">
    </div>
    <div class="right-nav">
      <ul>
        <li *ngIf="!(isAuth$ | async)">
          <a routerLink="signup" routerLinkActive="active" >
            Créer un compte
          </a>
        </li>
        <li *ngIf="!(isAuth$ | async)">
          <a routerLink="login" routerLinkActive="active">
            Se connecter
          </a>
        </li>
        <li *ngIf="isAuth$ | async">
          <a (click)="onLogout()">
            Se deconnecter
          </a>
        </li>
        <li *ngIf="isAuth$ | async">
            <a routerLink="post" routerLinkActive="active">
              Posts
            </a>
          </li>
          <li *ngIf="isAuth$ | async">
            <a routerLink="create-post" routerLinkActive="active">
              Créer un post
            </a>
          </li>
      </ul>
    </div>
</nav>  