<nav>
    <div id="logo">
        <img alt="Flame logo" src="../../assets/images/logo.png">
    </div>
    <div class="right-nav">
      <ul>
        <li>
          <a routerLink="signup" routerLinkActive="active" *ngIf="!(isAuth$ | async)">
            Créer un compte
          </a>
        </li>
        <li>
          <a routerLink="login" routerLinkActive="active" *ngIf="!(isAuth$ | async)">
            Se connecter
          </a>
        </li>
        <li>
          <a (click)="onLogout()" *ngIf="isAuth$ | async">
            Se deconnecter
          </a>
        </li>
        <li>
            <a routerLink="post" routerLinkActive="active" *ngIf="isAuth$ | async">
              Post
            </a>
          </li>
          <li>
            <a routerLink="create-post" routerLinkActive="active" *ngIf="isAuth$ | async">
              Créer un post
            </a>
          </li>
      </ul>
    </div>
</nav>  