nav {
  border-bottom: 3px solid #4E5166;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  text-align: justify;
}

#logo{
  width: 300px;
}
img{
  object-fit: cover;
  width: 95%;
  text-align: center;
}

.right-nav {
  align-self: center;
  width: 50%;
}

.right-nav {
  ul {
    justify-content: flex-end;
  }
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: center;
}

li {
  margin-right: 15px;
}

a{
  text-decoration: none;
  color: #4E5166;
  font-size: 22px;
  font-weight: bold;
}

.active {
  color: #4E5166;
  text-decoration: underline #FD2D01 2px;
}

// PARTIE MOBILE

@media(max-width: 868px){

  nav{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  li{
    width: 165px;
    margin-right: 0;
    margin-left: -12px;
  }

  .right-nav {
    align-self: center;
    width: 100%;
  }
  
}